backports.entry-points-selectable==1.1.0
certifi==2021.10.8
distlib==0.3.2
filelock==3.0.12
llvmlite==0.36.0
neat-python==0.92
numba==0.53.1
numpy==1.20.3
opencv-python==4.5.3.56
platformdirs==2.2.0
pygame==2.0.1
pyperclip==1.8.2
virtualenv==20.7.0
WebOb==1.8.7
